.main-background {
    width: 100%;
    height: 500px;
    background-image: url(../shoes.jpg);/*url()추가하면 배경 이미지 겹치기도 가능*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
    background-attachment: fixed;
    /*filter: brightness(70%);필터보정가능!
    안에 글씨가 있다면 글씨에도 필터적용되기때문에 백그라운드 할때나 씀*/
    padding: 1px;/*margine collapse해결! 패딩을 넣어주면 된다 :)*/
    text-align: center;
}

.main-title {
    color: ghostwhite;
    font-size: 40px;
    margin-top: 200px;
    text-align: center;
    /*margine collapse 현상
    윗선이 겹쳐지는 box들은 마진이 합쳐진다.*/
}
.main-body{
    color: ghostwhite;
    font-size: 20px;
    text-align: center;
}
.btn-4 {
    position: relative;
    color: rgba(0, 0, 0, 0.829);
    z-index: 2;
    line-height: 15px;
    padding: 5px;
    font-weight: 100;
    border: none;
    border-radius: 5px;
}
.btn-4:hover{
    border: none;
}
.btn-4:before,
.btn-4:after {
    position: absolute;
    content: "";
    width: 0%;
    height: 0%;
    border: 2px solid;
    z-index: -1;
    transition: all 0.3s ease;
}
.btn-4:before {
    top: 0;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: #ffffff;
    border-left-color: #ffff;
}
.btn-4:after{
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #ffff;
    border-right-color: #ffff;
}
.btn-4:hover:before,
.btn-4:hover:after {
    border-color: #ffffff;
    height: 100%;
    width: 100%;
}

.main-button {

    padding: 15px;
    font-size: 20px;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    position: relative;/*죄표이동하려면 필요한 속성//기준점잡기/공중에뜸/top,left,right,bottom
    relative: 내 원래 위치 기준으로 이동해주세요*/
    top: 100px;
    left: 100px;
}

.main-promotion{
    width: 70%;/*가변적인 사이즈를 하고싶다면 %로 지정하는게 좋다.//반응형웹페이지!*/
    max-width: 700px;/*가변적 사이즈 사용할때 max값 지정해주면 과도하게 커지는걸 방지할수있다
    min도 있음! 가로세로 다 가능함함*/
    height: 200px;
    margin: auto;
    background-color: bisque;
    position: relative;
    top: 30px;
    padding: 100px 0;
    z-index: 0;
}
/*z-index //
공중에 떠있는 요소들이 많고, 겹칠때
z-index 숫자가 높을수록 앞에 옵니다.*/


/*커스텀 폰트 넣고 싶을때*/
@font-face {
    font-family: '예쁜폰트' ;
    src: url(../NanumSquareAcB.woff);
}
/*한글폰트의 경우 용량이 엄청 큼
사이트 로딩시간이 오래걸림, ttf파일은 최대 2개까지 가능함
woff파일은 용량이 현저히 작음 :)
트래픽을 줄일 수 있음*/

div,input,textarea {/*이렇게 전체 디브에 설정해놓고 시작하면 편함!!!// ,로 여러가지 추기가능*/
    box-sizing: border-box;
    /*width는 글을 작성할수있는공간//외부에 패딩//외부에 보더//
    패딩값을 넣더라도 width와는 상관없음! width 맥스값을 설정해놔도 패딩값을 주면 외부칸이 더 커진담
    box-sizing: border-box;을 사용하면 패딩값,보더값을 width에 포함하여 나타내준다.
    좀더 정확한 사이징이 가능함!:)*/
}

body {
    margin: 0px;
    font-family: '예쁜폰트';
    /*자동으로 상속되는 속성이라 바디에서 설정하면 다 바꿔진다!
    ,로 구분하고 추가로 글씨체를 넣으면 해당 글꼴이 적용되지 않을때 다음글꼴, 다음글꼴 순으로 적용해준다
    안정성을 위해 여러가지 적어놓는게 좋음:)
    페이지 방문자들의 pc에 폰트가 설치되어있어야 동작함!*/
}

p,h4,h3,h2,h1,span {
    transform: rotate(0.03deg);
}
/*글씨의 기울기를 설정하는것
아주 살짝 기울게 설정하면 글씨가 훨씬 부드러워보임!
확대해도 조금 덜 깨진답 */

/*css파일 맨위에 호환성 이슈 해결책 미리 작성해 놓으면 편하다!
브라우저 간 균일한 디자인 나오게 하기!
아니면 해당 css파일 다운받아서 html파일에 link로 걸어놔도된다!
normalize.css 검색해보기*/

/* input [type=text]{/*타입별 선택가능!!*/
/*  padding: 10px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 5px;
} */

.from-background {
    background-color: black;
    padding: 30px;
}
.from-white {
    background-color: #ffffff;
    padding: 30px;
    width: 80%;
    max-width: 600px;
    margin: auto;
    text-align: left;
}
.from-input {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
}
.w-50{
    width: 50%;
    float: left;
    padding: 10px;
}
.W-100{
    width: 100%;
    padding: 10px;
}
.yellow-button {
    padding: 10px;
    background-color: rgba(255, 196, 0, 0.877);
    color: #ffffff;
    border: none;
    float: right;
    width: 100px;
    border-radius: 5px;
}

.flex-container{
    display: flex;
    justify-content: center;
}
/*설정하면 내부 요소들을 가로배열해줌!
display: flex; 적용되어있다면
justify-content: 속성을 이용해 가운데,좌측,우측정렬을 할 수있다.
flex-direction을 쓰면 가로세로 배치도 수정 가능!
flex-wrap을 쓰면 크기가 넘칠경우 자동으로 줄바꿈 해준다!
align-items: 쓰면 상하좌우 정렬 다 가능함 :)*/



.flex-item{
    width: 100%;
    /*높은 픽셀로설정하거나 100%로 지정해도 다 되는건아님.
    최대한 차지하려고 노력하기때문에 꽉찬ㄴ것처럼 보이게 나온다!*/
    height: 100px;
    background-color: grey;
    margin: 5px;
}


.navbar-container{
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: bisque;
}

.navbar-item{
    width: 100px;
    height: 100%;
    background-color: bisque;
    margin-right: 5px;
}

.test{
    width: 100vw;
    /* vw브라우저 폭에 비례해 %로 설정됨*/
    /* rem 기본폰트 사이즈에 비례해 커짐(기본 16px)
        사용자가 기본 폰트 사이즈를 조정하면 해당 크기에 맞게 레이아웃이 조정되어 좀 덜깨짐!
        요새는 잘 안씀 :) */
    /*em 내 폰트사이즈의 n배 */
    height: 50vh;
    /* vh 브라우저 높이에 비례해 %로 설정됨*/
    background-color: gray;
}

.kategorie-container{
    width: 80%;
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #ffffff;
}
.kategorie-container div{
    float: left;
    width: 25%;
    text-align: center;
}

.kategorie-container i {
    background-color: burlywood;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    padding-top: 25px;
    box-sizing: border-box;
    color: #ffffff;
    margin-top: 20px;
}

.shop-bg{
    background-color: #eee;
    padding: 20px;
}
.shop-container{
    display: flex;
    width: 90%;
    margin: auto;
    overflow: hidden;
}
.shop-item{
    width: 33%;
    padding: 10px;
    overflow: hidden;

}
.shop-item img{
    width: 100%;
    display: block;
    overflow: hidden;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.5);/*반투명하게 설정*/
    /*0(완전투명)~1(불투명) 사이 숫자로 설정가능
    얘를 쓰거나, 백그라운드 컬러를 반투명하게 설정해도된다!*/
    /*transition: all 1s ease;
    /*transition: (변하는부분 or all) (원하는 시간/초)s;
    해당 속성이 들어있는 class가 변할때 ~초의 시간이 걸려 변하도록 해주세요~*/
    /*transition-timing-function: cubic-bezier();
    시간의 빠르기 정도를 조정 할 수 있다.*/
    opacity: 0;
    color: #ffffff;
    font-size: 40px;
    overflow: hidden;
    margin-top: 50%;
    box-sizing: border-box;
}
.overlay:hover{
    /*마우스 올렸을때 변경하고싶을때~!*/
    opacity: 1;
    animation: reveal 2s;

}

/* 
.test:hover{
    /*마우스 올렸을때 변경하고싶을때~!*/
    /*opacity: 1;
    animation: reveal 2s;

} */

@keyframes reveal {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }




@media screen and (max-width: 1200px) {
    .main-title{
        font-size: 30px;
    }
    .kategorie-container div{
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .main-title{
        font-size: 20px;
    }
    .kategorie-container div{
        width: 100%;
    }
}
/*스타일이 중복되면 제일 아래에 있는것을 적용하기때문에, max-width가 작아지면 맨 아랫값을 적용함 :)
보통 큰거부터 작은사이즈 순서로 작성한다!*/
/* breakpoint 는 여러개 만들 수 있지만 통상적으로 쓰이는 사이즈를 권장함.
/* 미디어 쿼리는 항상 파일 최 하단에 만들기!*/