
body {
    margin: 0px;
}


.sign-box {
    width: 500px;
    height: 800px;
    background-color: bisque;
    padding: 45px;
}
.sign-header{
    width: 100%;
    height: 15%;
    position: relative;
}
.header-text {
    position: absolute;
    bottom: 20px;
    font-size: 35px;
}
.sign-emali{
    width: 100%;
    height: 15%;
}
p {
    margin: 0;
}
.email-input {
    width: 90%;
    height: 30px;
    float: left;
}
.sign-name {
    width: 100%;
    height: 15%;
}
.firstname {
    width: 45%;
    height: 100%;
    float: left;
    padding-right: 20px;
}
.lastname {
    width: 45%;
    height: 100%;
    float: left;
    z-index: 1;
}
.name-text {
    margin: 0;
    z-index: 2;
    float: left;

}
.name-input{
    width: 90%;
    height: 30px;
    position: relative;
}
.sign-message {
    width: 100%;
    height: 55%;
}
.message-input {
    width: 90%;
    height: 300px;
}
.message-button{
    position: absolute;
    left: 450px;
}