.container{
    width: 800;
    margin-left: auto; 
    margin-right: auto;
}
.leftbox{
    width: 70%;
    height: 400px;
    background: rebeccapurple;
    float: left;

}
.rightbox{
    width: 30%;
    height: 400px;
    background: rgb(197, 183, 211);
    float: left;
}
.left-top{
    width: 100%;
    height: 20%;
    background: rgb(244, 242, 247);
    float: left;
}

.left-bottom{
    width: 100%;
    height: 80%;
    background: rgb(95, 88, 102);
    float: left;
}
.imgsize {
    width: 100%;
    height: 400px;
    object-fit: fill;
}
.imgsize2 {
    width: 60px;
    height: 60px;
    margin: 10px;
    float: left;
}

.navbar li { /*이렇게 쓰면 내부 모든 li에 적용된다.
    selector문법 중 공백: ~안에있는
    혹은 '>':~안에있는 직계자식에만 적용*/
    display: inline-block;
    width: 60px;
    text-align: center;
    background: #ffffff;
}
.navbar a {
    font-size: 16px;
    text-decoration: none;/*밑줄제거*/
    
}
a:link {
    color: rgb(221, 141, 236);
}
a:visited {
    color: lightcoral;
}
a:hover {
    color: indianred;
}
a:active {
    color: slateblue;
}